USE [master]
GO
/****** Object:  Database [BDJURIDICO]    Script Date: 31/01/2023 10:44:23 ******/
CREATE DATABASE [BDJURIDICO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDJURIDICO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI2022\MSSQL\DATA\BDJURIDICO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDJURIDICO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI2022\MSSQL\DATA\BDJURIDICO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDJURIDICO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDJURIDICO]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 31/01/2023 10:44:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ESTID] [int] IDENTITY(1,1) NOT NULL,
	[ESTDESCRICAO] [varchar](100) NOT NULL,
	[ESTSIGLA] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ESTSIGLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
